{% import 'macros/form.html' as form %}

<section class="module">
    <form class="module-content">
        {{ ui.input(name='standard', label=_('Standard'), placeholder=_('Standard Input'), errors=error) }}
        {{ ui.input(name='slug', label=_('Prepend'), prefix='prefix', placeholder=_('Prepend Input'), errors=error) }}

        {{ ui.extra_field(index=0, errors={"extras__0__key": error}) }}
        {{ ui.extra_field(index=0, data={"key": "key", "value": "value", "deleted": true}, errors={"extras__0__key": error}) }}

        {{ ui.markdown(name='markdown', label=_('Markdown'), placeholder='Some nice placeholder text', errors=error) }}
        {{ ui.textarea(name='desc', label=_('Textarea'), placeholder='Some nice placeholder text', errors=error) }}
        {{ ui.select(name='year', label=_('Select'), options=[{'value': 2010}, {'value': 2011}], selected=2011, errors=error) }}
        {{ ui.checkbox(name='remember', label="This is my checkbox", checked=true, errors=error) }}
    </form>
</section>
