{% extends 'user/edit_base.html' %}

{% block actions_content %}{% endblock %}

{% block breadcrumb_content -%}
    {{ ui.breadcrumb(_('Users'), href=h.url_for('user.index')) }}
    {{- ui.breadcrumb(user_dict.display_name, href=h.url_for('user.read', id=user_dict.name)) }}
    {{- ui.breadcrumb(_('Manage'), href="#", active=true) }}
{%- endblock %}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.heading, level=1) -%}
        {% block page_heading %}{{ _('Edit Profile') }}{% endblock %}
    {%- endcall %}
    {{ form | safe }}
{% endblock %}

{% block secondary_content %}
    {{ ui.sidebar_section(_("Your profile lets other CKAN users know about who you are and what you do."), icon="info-circle", title=_('Account Info')) }}
{% endblock %}
